<div class="row">
  <div class="col-sm-4" style="background-color: yellow">
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
    <p>question</p>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12" style="background-color: darkorchid">
        <h3>Question title in bold</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="background-color: darkgoldenrod">
        <p>question description text</p>
        <p>question description text</p>
        <p>question description text</p>
        <p>question description text</p>
        <p>question description text</p>
      </div>
      <div class="col-sm-4" style="background-color: darkolivegreen">
        <p>question image</p>
        <p>question image</p>
        <p>question image</p>
        <p>question image</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="background-color: darkred">
        <p>question link</p>
        <p>question link</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="background-color: darkorchid">
        <h3>Answer title in bold</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="background-color: darkgoldenrod">
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
        <p>answer description text</p>
      </div>
      <div class="col-sm-4" style="background-color: darkolivegreen">
        <p>answer image</p>
        <p>answer image</p>
        <p>answer image</p>
        <p>answer image</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="background-color: darkred">
        <p>answer link</p>
        <p>answer link</p>
      </div>
    </div>
  </div>
</div>
