<div>
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="isAdd">Answer the Question</h3>
      <h3 *ngIf="!isAdd">Edit Answer</h3>
      <form id="answer-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="answer-name">Name</label>
            <input
              type="text"
              id="answer-name"
              required
              class="form-control"
              [ngModel]="selectedAnswer?.name"
              name="name">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="answer-description">Description</label>
            <textarea
              rows="5"
              id="answer-description"
              class="form-control"
              [ngModel]="selectedAnswer?.description"
              name="description">{{selectedAnswer?.description}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="answer-image-path">Image URL</label>
            <input
              type="text"
              value="{{selectedAnswer?.imagePath}}"
              id="answer-image-path"
              class="form-control"
              [ngModel]="selectedAnswer?.imagePath"
              name="imagePath"
              #imagePath="ngModel"
              pattern="(ftp|http|https):\/\/[^ ]+">
            <span class="help-block" *ngIf="!imagePath.valid">Please enter a correct and complete URL for the image</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled]="!f.valid">Add</button>
            <button class="btn btn-success" type="submit" *ngIf="!isAdd" [disabled]="!f.valid">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
