<div>
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="isAdd">Add a New Question</h3>
      <h3 *ngIf="!isAdd">Edit Question</h3>
      <form id="question-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="question-name">Name</label>
            <input
              type="text"
              id="question-name"
              required
              class="form-control"
              [ngModel]="selectedQuestion.name"
              name="name">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="question-description">Description</label>
            <textarea
              rows="5"
              id="question-description"
              class="form-control"
              [ngModel]="selectedQuestion.description"
              name="description">{{selectedQuestion.description}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="question-description">Image URL</label>
            <input
              type="text"
              value="{{selectedQuestion.imagePath}}"
              id="question-image-path"
              class="form-control"
              [ngModel]="selectedQuestion.imagePath"
              name="imagePath"
              #imagePath="ngModel"
              pattern="(ftp|http|https):\/\/[^ ]+">
            <span class="help-block" *ngIf="!imagePath.valid">Please enter a complete URL for the image</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled]="!f.valid">Add</button>
            <button class="btn btn-success" type="submit" *ngIf="!isAdd">Save</button>
            <button class="btn btn-danger" *ngIf="!isAdd" (click)="onDelete()">Delete</button>
            <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
