<div class="row">
  <div class="col-sm-12">
    <h4>{{answer.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right" style="margin-left: 20px; margin-bottom: 15px">
      <img class="img-responsive"
           src="{{answer.imagePath}}"
           style="max-height: 150px;"/>
    </div>
    <p [innerHTML]="answerFormattedDescription"></p>
    <div class="text-right">
      <button class="btn btn-success" *ngIf="isSignedIn()" (click)="onEditAnswer()">Edit Answer</button>
      <button class="btn btn-success" *ngIf="isSignedIn()" (click)="onNewAnswer()">New Answer</button>
      <button class="btn btn-danger" *ngIf="isSignedIn()" (click)="onDeleteAnswer()">Delete Answer</button>
    </div>
  </div>
</div>
