<div *ngIf="isConfirmDeleteVisible" class="modal fade show in danger" id="confirmDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancelDelete()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>{{confirmDeleteMsg}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-default" (click)="cancelDelete()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>{{answer.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right" style="margin-left: 20px; margin-bottom: 15px">
      <img class="img-responsive"
           src="{{answer?.imagePath}}"
           style="max-height: 150px;"/>
    </div>
    <p [innerHTML]="answerFormattedDescription"></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-right">
    <button class="btn btn-success" *ngIf="isSignedIn()" (click)="onEditAnswer()">Edit Answer</button>
    <button class="btn btn-success" *ngIf="isSignedIn()" (click)="onNewAnswer()">New Answer</button>
    <button class="btn btn-danger" *ngIf="isSignedIn()" (click)="onDeleteAnswer()">Delete Answer</button>
  </div>
</div>
