<div *ngIf="!selectedQuestion">
  <div class="row">
    <div class="col-sm-12">
      <h3>Please select a question</h3>
    </div>
  </div>
</div>
<div *ngIf="selectedQuestion">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{selectedQuestion?.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <img class="img-responsive"
             src="{{selectedQuestion?.imagePath}}"
             style="max-height: 200px;"/>
      </div>
      <p>{{selectedQuestion?.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- question links go here -->
    </div>
  </div>
</div>
