<div *ngIf="isConfirmDeleteVisible" class="modal fade show in danger" id="confirmDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancelDelete()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>{{confirmDeleteMsg}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-dismiss="modal">Delete</button>
              <button type="button" class="btn btn-default" (click)="cancelDelete()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Question</h3>
    <h4>{{selectedQuestion?.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div *ngIf="hasImage()" class="pull-right" style="margin-left: 20px; margin-bottom: 15px">
      <img class="img-responsive"
           src="{{selectedQuestion?.imagePath}}"
           style="max-height: 150px;"/>
    </div>
    <p [innerHTML]="selectedQuestionFormattedDescription"></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-right">
    <button class="btn btn-success" *ngIf="isSignedIn()" [routerLink]="['edit']">Edit Question</button>
    <button class="btn btn-danger" *ngIf="isSignedIn()" (click)="onDelete()">Delete Question</button>
  </div>
</div>
<app-answers [selectedQuestion]="selectedQuestion" [questionId]="questionId" [answerIsEdit]="answerIsEdit"
             [answerId]="answerId"></app-answers>
