<div class="row">
  <div class="col-sm-12" style="background-color: darkorchid">
    <h3>{{selectedQuestion?.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="background-color: darkgoldenrod">
    <p class="pull-left">{{selectedQuestion?.description}}</p>
    <span class="pull-right">
      <img class="img-responsive"
           src="{{selectedQuestion?.imagePath}}"
           style="max-height: 200px;"/>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="background-color: yellowgreen">
    <p>question link</p>
  </div>
</div>
