<div *ngIf="answerIsEdit">
  <app-answer-edit [selectedQuestion]="selectedQuestion" [questionId]="questionId" [answerId]="answerId"></app-answer-edit>
</div>
<div *ngIf="!answerIsEdit">
  <div *ngIf="!thereAreAnswers()">
    <app-answer-start></app-answer-start>
  </div>
  <div *ngIf="thereAreAnswers()">
    <h3 *ngIf="thereIsOneAnswer()">Answer</h3>
    <h3 *ngIf="!thereIsOneAnswer()">Answers</h3>
    <app-answer-area *ngFor="let answer of selectedQuestion.answers; let i = index" [answer]="answer" [answerId]="i"></app-answer-area>
  </div>
</div>
